@import url();

// Body
$body-bg: #ffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//CONTAINER SIZES 
$container-lg: 90%!important;
$container-fullWidth: 100%!important;


//COLORS
$whiteSmoke: #E8E8E8;